mr-client/src/main/java/by/march8/tasks/factoring/model/blrdln/BLRDLN_v_0_no_sign1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <xs:element name="BLRDLN">
        <xs:annotation>
            <xs:documentation>Электронное сообщение Товарная Накладная в Беларуси</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MessageHeader"/>
                <xs:element ref="DeliveryNote"/>
            </xs:sequence>
            <xs:attribute name="version" use="required" fixed="0.1">
                <xs:annotation>
                    <xs:documentation>Текущая версия 0.1</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="DeliveryNote">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DeliveryNoteType">
                    <xs:annotation>
                        <xs:documentation>Вид накладной</xs:documentation>
                        <xs:appinfo>Вид накладной</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="3"/>
                            <xs:enumeration value="270"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="DocumentID">
                    <xs:annotation>
                        <xs:documentation>Номер электронного документа накладная</xs:documentation>
                        <xs:appinfo>Номер электронного документа</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="35"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="CreationDateTime">
                    <xs:annotation>
                        <xs:documentation>Дата создания электронного документа "Накладная".
                            Формат: ГГГГММДДЧЧММСС
                        </xs:documentation>
                        <xs:appinfo>Дата создания электронного документа</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="35"/>
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="FunctionCode">
                    <xs:annotation>
                        <xs:documentation>Функция электронной накладной:
                            1 = Отмена
                            9 = Оригинал
                        </xs:documentation>
                        <xs:appinfo>Функция электронной накладной</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="3"/>
                            <xs:enumeration value="1"/>
                            <xs:enumeration value="9"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="DeliveryNoteID">
                    <xs:annotation>
                        <xs:documentation>Серия и номер накладной в формате:
                            ССС-GGGGGGGGGGGGG-NNNNNNNNNN
                        </xs:documentation>
                        <xs:appinfo>Серия и номер накладной</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="70"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="DeliveryNoteDate">
                    <xs:annotation>
                        <xs:documentation>Дата накладной</xs:documentation>
                        <xs:appinfo>Дата накладной</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="35"/>
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="ContractName" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Основание отпуска.
                            Наименование документа
                        </xs:documentation>
                        <xs:appinfo>Наименование основания отпуска</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="70"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="ContractID">
                    <xs:annotation>
                        <xs:documentation>Основание отпуска.
                            Номер договора или другого документа
                        </xs:documentation>
                        <xs:appinfo>Номер основания отпуска</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="70"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="ContractDate" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Основание отпуска.
                            Дата договора или другого документа
                        </xs:documentation>
                        <xs:appinfo>Дата основания отпуска</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="35"/>
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Document" minOccurs="0" maxOccurs="100">
                    <xs:annotation>
                        <xs:documentation>Документы, переданные с товаром</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DocumentID" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Номер документа</xs:documentation>
                                    <xs:appinfo>Номер документа, переданного с товаром</xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="70"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DocumentDate" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Дата документа в формате ГГГГММДД</xs:documentation>
                                    <xs:appinfo>Дата документа, переданного с товаром</xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="35"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DocumentName">
                                <xs:annotation>
                                    <xs:documentation>Название документа, и если нужно, его описание</xs:documentation>
                                    <xs:appinfo>Название документа, переданного с товаром</xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="512"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="Shipper">
                    <xs:annotation>
                        <xs:documentation>Грузоотправитель</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="Receiver">
                    <xs:annotation>
                        <xs:documentation>Грузополучатель</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="ShipFrom"/>
                <xs:element name="ShipTo" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Пункт разгрузки</xs:documentation>
                        <xs:appinfo>Пункт разгрузки</xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="GLN" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>GLN пункта разгрузки</xs:documentation>
                                    <xs:appinfo>GLN пункта разгрузки</xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="13"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Address" minOccurs="0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="170"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="Carrier"/>
                <xs:element name="OrderID" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Номер заказа, к которому относится электронная накладная</xs:documentation>
                        <xs:appinfo>Номер заказа, к которому относится электронная накладная</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="35"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Currency">
                    <xs:annotation>
                        <xs:documentation>3-х буквенный код валюты: ISO 4217 three alpha</xs:documentation>
                        <xs:appinfo>Код валюты</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="3"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="ExtraField" minOccurs="0" maxOccurs="500">
                    <xs:annotation>
                        <xs:documentation>Дополнительные поля в накладной</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="FieldName">
                                <xs:annotation>
                                    <xs:documentation>Название поля текстом.</xs:documentation>
                                    <xs:appinfo>Название дополнительного поля в накладной</xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="FieldCode" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Код поля.</xs:documentation>
                                    <xs:appinfo>Код дополнительного поля в накладной</xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="6"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="FieldValue">
                                <xs:annotation>
                                    <xs:documentation>Значение поля</xs:documentation>
                                    <xs:appinfo>Значение дополнительного поля в накладной</xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="2560"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="DespatchAdviceLogisticUnitLineItem"/>
                <xs:element name="Total">
                    <xs:annotation>
                        <xs:documentation>Итоговая информация</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TotalAmountWithoutCharges">
                                <xs:annotation>
                                    <xs:documentation>Общая стоимость без НДС</xs:documentation>
                                    <xs:appinfo>Общая стоимость без НДС</xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="35"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="TotalAmountCharges" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Общая сумма НДС</xs:documentation>
                                    <xs:appinfo>Общая сумма НДС</xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="35"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="TotalAmount">
                                <xs:annotation>
                                    <xs:documentation>Общая стоимость с НДС</xs:documentation>
                                    <xs:appinfo>Общая стоимость с НДС</xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="35"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="TotalLineItem">
                                <xs:annotation>
                                    <xs:documentation>Всего количество товарных позиций (количество Line)
                                    </xs:documentation>
                                    <xs:appinfo>Всего количество товарных позиций</xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:totalDigits value="18"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="TotalLineItemQuantity">
                                <xs:annotation>
                                    <xs:documentation>Всего количество единиц</xs:documentation>
                                    <xs:appinfo>Всего количество единиц</xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="18"/>
                                        <xs:fractionDigits value="5"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="TotalAmountExcise" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Всего сумма акциза</xs:documentation>
                                    <xs:appinfo>Всего сумма акциза</xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="35"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MessageHeader">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MessageID">
                    <xs:annotation>
                        <xs:documentation>Уникальный номер сообщения, который присваивается отправителем
                        </xs:documentation>
                        <xs:appinfo>Уникальный номер сообщения</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="14"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="MsgDateTime">
                    <xs:annotation>
                        <xs:documentation>Дата и время создания сообщения</xs:documentation>
                        <xs:appinfo>Дата и время создания сообщения</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="35"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="MessageType">
                    <xs:annotation>
                        <xs:documentation>Тип сообщения</xs:documentation>
                        <xs:appinfo>Тип сообщения</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="6"/>
                            <xs:enumeration value="BLRDLN"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="MsgSenderID">
                    <xs:annotation>
                        <xs:documentation>GLN номер отправителя сообщения</xs:documentation>
                        <xs:appinfo>GLN номер отправителя</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="13"/>
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="MsgReceiverID">
                    <xs:annotation>
                        <xs:documentation>GLN номер получателя сообщения</xs:documentation>
                        <xs:appinfo>GLN номер получателя</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="13"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="TestIndicator" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Индикатор тестового сообщения:
                            1 = Тестовое сообщение
                        </xs:documentation>
                        <xs:appinfo>Индикатор тестового сообщения</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="1"/>
                            <xs:enumeration value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="UserID" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Идентификатор пользователя, который будет подписывать сообщение
                        </xs:documentation>
                        <xs:appinfo>Идентификатор пользователя, который будет подписывать сообщение</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="35"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Shipper">
        <xs:annotation>
            <xs:documentation>Грузоотправитель</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="GLN">
                    <xs:annotation>
                        <xs:appinfo>GLN грузоотправителя</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="Name">
                    <xs:annotation>
                        <xs:appinfo>Наименование грузоотправителя</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="Address">
                    <xs:annotation>
                        <xs:appinfo>Адрес грузоотправителя</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="VATRegistrationNumber">
                    <xs:annotation>
                        <xs:documentation>УНП номер</xs:documentation>
                        <xs:appinfo>УНП грузоотправителя</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Contact">
                    <xs:annotation>
                        <xs:documentation>Контактное лицо грузоотправителя, которое разрешает отпуск товара.
                            Указывается должность и ФИО.
                        </xs:documentation>
                        <xs:appinfo>Отпуск разрешил</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="150"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Receiver">
        <xs:annotation>
            <xs:documentation>Грузополучатель</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="GLN">
                    <xs:annotation>
                        <xs:appinfo>GLN грузополучателя</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="Name">
                    <xs:annotation>
                        <xs:appinfo>Наименование грузополучателя</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="Address">
                    <xs:annotation>
                        <xs:appinfo>Адрес грузополучателя</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="VATRegistrationNumber">
                    <xs:annotation>
                        <xs:documentation>УНП номер</xs:documentation>
                        <xs:appinfo>УНП грузополучателя</xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="FreightPayer">
        <xs:annotation>
            <xs:documentation>Заказчик автомобильной перевозки (плательщик)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="GLN" minOccurs="0"/>
                <xs:element ref="Name"/>
                <xs:element ref="Address"/>
                <xs:element ref="VATRegistrationNumber"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GLN">
        <xs:annotation>
            <xs:documentation>GLN номер</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="13"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Name">
        <xs:annotation>
            <xs:documentation>Название</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="175"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Address">
        <xs:annotation>
            <xs:documentation>Адрес</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="140"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="VATRegistrationNumber">
        <xs:annotation>
            <xs:documentation>УНП номер</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="70"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ShipFrom">
        <xs:annotation>
            <xs:documentation>Пункт погрузки</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GLN" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>GLN пункта погрузки</xs:documentation>
                        <xs:appinfo>GLN пункта погрузки</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="13"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element ref="Address" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Адрес пункта погрузки</xs:documentation>
                        <xs:appinfo>Адрес пункта погрузки</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Contact">
                    <xs:annotation>
                        <xs:documentation>Контактное лицо, которое отвечает за передачу груза со стороны
                            грузоотправителя.
                            Сдал грузоотправитель.
                        </xs:documentation>
                        <xs:appinfo>Сдал грузоотправитель</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="150"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ShipTo">
        <xs:annotation>
            <xs:documentation>Пункт разгрузки</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Contact" minOccurs="1">
                    <xs:annotation>
                        <xs:documentation>Контактное лицо, которое отвечает за получение груза со стороны
                            грузополучателя.
                            Принял грузополучатель.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="35"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Carrier">
        <xs:annotation>
            <xs:documentation>Перевозка</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DeliveryContact">
                    <xs:annotation>
                        <xs:documentation>Контактное лицо, отвечающие за доставку груза.
                            Товар к доставке принял.
                        </xs:documentation>
                        <xs:appinfo>Товар к доставке принял</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="150"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="ProxyID" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Номер доверенности</xs:documentation>
                        <xs:appinfo>Номер доверенности</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="70"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="ProxyDate" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Дата доверенности</xs:documentation>
                        <xs:appinfo>Дата доверенности</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="35"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="PartyIssuingProxyName" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Наименование организации выдавшей доверенность</xs:documentation>
                        <xs:appinfo>Наименование организации, выдавшей доверенность</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="175"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="BaseShippingDocumentName" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Наименование документа, на основании которого производится доставка в случаях:
                            экспорта (перевозка по CMR, СМГС)
                        </xs:documentation>
                        <xs:appinfo>Наименование документа при экпорте</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="175"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="BaseShippingDocumentID" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Номер документа, на основании которого производится доставка в случаях:
                            экспорта (перевозка по CMR, СМГС), доставки почтой
                        </xs:documentation>
                        <xs:appinfo>Номер документа при экпорте</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="70"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="BaseShippingDocumentDate" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Дата документа, на основании которого производится доставка в случаях:
                            экспорта (перевозка по CMR, СМГС), доставки почтой
                        </xs:documentation>
                        <xs:appinfo>Дата документа при экспорте</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="35"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DespatchAdviceLogisticUnitLineItem">
        <xs:annotation>
            <xs:documentation>Информация о грузе/Товарный раздел</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="LineItem" maxOccurs="5000"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="LineItem">
        <xs:annotation>
            <xs:documentation>Информация о товаре</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="LineItemNumber">
                    <xs:annotation>
                        <xs:documentation>Порядковый номер</xs:documentation>
                        <xs:appinfo>Порядковый номер товара</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="6"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="LineItemID" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>GTIN номер товара</xs:documentation>
                        <xs:appinfo>GTIN</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="2"/>
                            <xs:maxLength value="14"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="LineItemBuyerID" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Код товара, присвоенный покупателем</xs:documentation>
                        <xs:appinfo>Код товара, присвоенный покупателем</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="35"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="LineItemSupplierID" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Код товара, присвоенный поставщиком</xs:documentation>
                        <xs:appinfo>Код товара, присвоенный поставщиком</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="35"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="LineItemName">
                    <xs:annotation>
                        <xs:documentation>Наименование товара</xs:documentation>
                        <xs:appinfo>Наименование товара</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="512"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="QuantityDespatched">
                    <xs:annotation>
                        <xs:documentation>Количество товара</xs:documentation>
                        <xs:appinfo>Количество товара</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:totalDigits value="35"/>
                            <xs:fractionDigits value="5"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="LineItemQuantityUOM">
                    <xs:annotation>
                        <xs:documentation>Единица измерения</xs:documentation>
                        <xs:appinfo>Единица измерения</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="3"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="CountryOfOrigin" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Страна производства</xs:documentation>
                        <xs:appinfo>Страна производства товара</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="3"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="BestBeforeDate" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Срок реализации</xs:documentation>
                        <xs:appinfo>Срок реализации товара</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="35"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="TaxRate" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Ставка НДС в процентах</xs:documentation>
                        <xs:appinfo>Ставка НДС</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:totalDigits value="4"/>
                            <xs:fractionDigits value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="AdditionalInformation" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Примечание.
                            Дополнительная информация о товарной позиции
                        </xs:documentation>
                        <xs:appinfo>Примечание</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="512"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="LineItemAmountWithoutCharges">
                    <xs:annotation>
                        <xs:documentation>Стоимость без НДС</xs:documentation>
                        <xs:appinfo>Стоимость без НДС</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:totalDigits value="35"/>
                            <xs:fractionDigits value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="LineItemAmountCharges" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Сумма НДС</xs:documentation>
                        <xs:appinfo>Сумма НДС</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:totalDigits value="35"/>
                            <xs:fractionDigits value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="LineItemAmount">
                    <xs:annotation>
                        <xs:documentation>Стоимость с НДС</xs:documentation>
                        <xs:appinfo>Стоимость с НДС</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:totalDigits value="35"/>
                            <xs:fractionDigits value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="LineItemPrice">
                    <xs:annotation>
                        <xs:documentation>Цена</xs:documentation>
                        <xs:appinfo>Цена</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:totalDigits value="35"/>
                            <xs:fractionDigits value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="LineItemManufacturerPrice" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Цена изготовителя</xs:documentation>
                        <xs:appinfo>Цена изготовителя</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:totalDigits value="35"/>
                            <xs:fractionDigits value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="BulkDiscountRate" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Оптовая скидка в процентах</xs:documentation>
                        <xs:appinfo>Оптовая скидка</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:totalDigits value="4"/>
                            <xs:fractionDigits value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="DiscountRate" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Скидка в процентах</xs:documentation>
                        <xs:appinfo>Скидка</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:totalDigits value="4"/>
                            <xs:fractionDigits value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="LineItemAmountExcise" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Сумма акциза</xs:documentation>
                        <xs:appinfo>Сумма акциза</xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:totalDigits value="35"/>
                            <xs:fractionDigits value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="SGBY01" minOccurs="0" maxOccurs="50">
                    <xs:annotation>
                        <xs:documentation>Документы, подтверждающие безопасность и качество товара</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SertificateType">
                                <xs:annotation>
                                    <xs:documentation>Вид документа (сертификата)</xs:documentation>
                                    <xs:appinfo>Вид сертификата</xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="70"/>
                                        <xs:enumeration value="SBY"/>
                                        <xs:enumeration value="DBY"/>
                                        <xs:enumeration value="SCU"/>
                                        <xs:enumeration value="DCU"/>
                                        <xs:enumeration value="SRCU"/>
                                        <xs:enumeration value="DRCU"/>
                                        <xs:enumeration value="HGRB"/>
                                        <xs:enumeration value="SGR"/>
                                        <xs:enumeration value="SMEDBY"/>
                                        <xs:enumeration value="SMEDEEU"/>
                                        <xs:enumeration value="PSALEBY"/>
                                        <xs:enumeration value="RTESTBY"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="SertificateID">
                                <xs:annotation>
                                    <xs:documentation>Номер документа (сертификата)</xs:documentation>
                                    <xs:appinfo>Номер сертификата</xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="70"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="BeginSertifDate" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Дата начала действия документа
                                        Формат: ГГГГММДД
                                    </xs:documentation>
                                    <xs:appinfo>Дата начала действия сертификата</xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="35"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="EndSertifDate" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Дата окончания действия документа
                                        Формат: ГГГГММДД
                                    </xs:documentation>
                                    <xs:appinfo>Дата окончания действия сертификата</xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="35"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Name" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Наименование организации, выдавшей документ (сертификат)
                                    </xs:documentation>
                                    <xs:appinfo>Наименование организации, выдавшей документ (сертификат)</xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="175"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="LineItemExtraField" minOccurs="0" maxOccurs="500">
                    <xs:annotation>
                        <xs:documentation>Дополнительные поля для товарной позиции</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="FieldName">
                                <xs:annotation>
                                    <xs:documentation>Название поля текстом.</xs:documentation>
                                    <xs:appinfo>Название дополнительного поля товара накладной</xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="FieldCode" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Код поля.</xs:documentation>
                                    <xs:appinfo>Код дополнительного поля товара накладной</xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="6"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="FieldValue">
                                <xs:annotation>
                                    <xs:documentation>Значение поля</xs:documentation>
                                    <xs:appinfo>Значение дополнительного поля товара накладной</xs:appinfo>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="2560"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Security">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SecurityID"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
